/* DocuThèques App styles */
#docutheques .corps-docutheques {
	display: flex;
	flex-wrap: wrap;
}

#docutheques .arbre-des-dossiers,
#docutheques .liste-documents,
#docutheques .formulaire-dossier,
#docutheques .formulaire-document {
	overflow: auto;
	margin: 16px 0;
	padding: 10px;
	border: 1px solid #ccd0d4;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	background: #fff;
}

#docutheques .corps-docutheques .arbre-des-dossiers {
	width: 20%;
	max-width: 22%;
}

#docutheques .corps-docutheques .liste-documents,
#docutheques .corps-docutheques .formulaire-dossier,
#docutheques .corps-docutheques .formulaire-document {
	position: relative;
	width: 70%;
	max-width: 73%;
}

#docutheques .corps-docutheques .formulaire-dossier .close,
#docutheques .corps-docutheques .formulaire-document .close {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	height: 48px;
	outline: none;
	padding: 0;
	position: absolute;
	right: 2px;
	text-align: center;
	top: 2px;
	width: 48px;
	z-index: 1;
}

#docutheques .liste-dossiers,
#docutheques .sous-choix-dossiers {
	padding-top: 0.5em;
	padding-left: 1em;
}

li.choix-dossiers a {
	padding: 0.2em 0.5em 0.2em 0.2em;
}

#docutheques li.is-current-dossier > a {
	background-color: #0073aa;
	color: #fff;
	font-weight: 600;
}

#docutheques .sous-choix-dossiers {
	display: none;
}

#docutheques .dashicons-admin-home,
#docutheques .liste-dossiers .dashicon {
	vertical-align: top;
	margin-right: 0.5em;
}

#docutheques .dashicons-admin-home {
	vertical-align: bottom;
}

#docutheques .sous-choix-dossiers.has-parent-selected,
#docutheques .sous-choix-dossiers.is-parent-selected {
	display: block;
}

#docutheques .components-dropdown-menu .components-dropdown-menu__toggle.has-icon {
	color: #0073aa;
	display: inline-block;
}

#docutheques .components-dropdown-menu .components-dropdown-menu__toggle.has-icon svg {
	vertical-align: sub;
}

#docutheques .components-dropdown-menu .components-button:not(:disabled):not([aria-disabled="true"]):not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link):hover,
#docutheques .components-dropdown-menu .components-button:not(:disabled):not([aria-disabled="true"]):not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link):focus {
	background: none;
	border: none;
	box-shadow: none;
}

#docutheques .liste-documents .media-items {
	overflow: auto;
	outline: none;
	padding-top: 0.5em;
}

#docutheques .liste-documents .media-item {
	position: relative;
	float: left;
	padding: 8px;
	margin: 0;
	color: #444;
	cursor: pointer;
	list-style: none;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 20%;
	box-sizing: border-box;
}

#docutheques .liste-documents .media-item .item-preview {
	position: relative;
	box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
	background: #eee;
	cursor: pointer;
}

#docutheques .liste-documents .media-item .item-preview:before {
	content: "";
	display: block;
	padding-top: 100%;
}

#docutheques .liste-documents .media-item .vignette {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 1;
	transition: opacity .1s;
}

#docutheques .liste-documents .media-item .vignette .centered {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translate( 50%, 50% );
}

#docutheques .liste-documents .media-item .vignette:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

#docutheques .liste-documents .media-item .vignette svg {
	position: absolute;
	top: 0;
	left: 0;
	width:150px;
	height: 150px;
	max-width: 50%;
	max-height: 50%;
}

#docutheques .liste-documents .media-item .vignette .centered svg {
	transform: translate( -50%, -50% );
}

#docutheques .liste-documents .media-item .media-name {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	max-height: 100%;
	word-wrap: break-word;
	text-align: center;
	font-weight: 600;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}

#docutheques .uploader-container.enabled {
	position: relative;
	top: auto;
	right: auto;
	left: auto;
	bottom: auto;
	padding-top: 0;
	margin-top: 20px;
	border: 4px dashed #b4b9be;
}

#docutheques .enabled .uploader-inline {
	min-height: 150px;
	position: static;
}

#docutheques .enabled .dropzone-label {
	font-weight: 600;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	padding: 0 10em;
	text-align: center;
}

#docutheques .enabled .dropzone-label .components-form-file-upload {
	margin-top: 1em;
}
