/* DocuThèques App styles */
#docutheques .corps-docutheques {
	display: flex;
	flex-wrap: wrap;
}

#docutheques .arbre-des-dossiers,
#docutheques .liste-documents,
#docutheques .formulaire-dossier,
#docutheques .formulaire-document {
	overflow: auto;
	margin: 16px 0;
	padding: 10px;
	border: 1px solid #ccd0d4;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	background: #fff;
}

#docutheques .corps-docutheques .arbre-des-dossiers {
	width: 20%;
	max-width: 22%;
}

#docutheques .corps-docutheques .liste-documents,
#docutheques .corps-docutheques .formulaire-dossier,
#docutheques .corps-docutheques .formulaire-document {
	position: relative;
	width: 70%;
	max-width: 73%;
}

#docutheques .corps-docutheques .formulaire-dossier .close,
#docutheques .corps-docutheques .formulaire-document .close {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	height: 48px;
	outline: none;
	padding: 0;
	position: absolute;
	right: 2px;
	text-align: center;
	top: 2px;
	width: 48px;
	z-index: 1;
}

#docutheques .liste-dossiers,
#docutheques .sous-choix-dossiers {
	padding-top: 0.5em;
	padding-left: 1em;
}

li.choix-dossiers a {
	padding: 0.2em 0.5em 0.2em 0.2em;
}

#docutheques li.is-current-dossier > a {
	background-color: #0073aa;
	color: #fff;
	font-weight: 600;
}

#docutheques .sous-choix-dossiers {
	display: none;
}

#docutheques .dashicons-admin-home,
#docutheques .liste-dossiers .dashicon {
	vertical-align: top;
	margin-right: 0.5em;
}

#docutheques .dashicons-admin-home {
	vertical-align: bottom;
}

#docutheques .sous-choix-dossiers.has-parent-selected,
#docutheques .sous-choix-dossiers.is-parent-selected {
	display: block;
}

#docutheques .components-dropdown-menu .components-dropdown-menu__toggle.has-icon {
	color: #0073aa;
	display: inline-block;
}

#docutheques .components-dropdown-menu .components-dropdown-menu__toggle.has-icon svg {
	vertical-align: sub;
}

#docutheques .components-dropdown-menu .components-button:not(:disabled):not([aria-disabled="true"]):not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link):hover,
#docutheques .components-dropdown-menu .components-button:not(:disabled):not([aria-disabled="true"]):not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link):focus {
	background: none;
	border: none;
	box-shadow: none;
}
