.editor-styles-wrapper ul.docutheques,
ul.docutheques {
	list-style: none;
	margin: 1em 0;
	padding: 0;
}

ul.docutheques li .docutheques-document,
ul.docutheques li .docutheques-dossier {
	display: flex;
	flex-wrap: wrap;
	border-bottom: solid 1px #878787;
	padding: 1em 0;
}

ul.docutheques li .docutheques-dossier {
	background-color: #f1f1f1;
}

ul.docutheques li:first-child {
	border-top: solid 1px #878787;
}

ul.docutheques li .docutheques-document .docutheques-vignette,
ul.docutheques li .docutheques-dossier .docutheques-vignette {
	padding-left: 10px;
	width: 60px;
}

ul.docutheques li .docutheques-document .docutheques-description,
ul.docutheques li .docutheques-dossier .docutheques-description {
	width: calc( 100% - 60px );
	padding: 0 1em;
}
