.editor-styles-wrapper .docutheque .fil-ariane-docutheque,
.docutheque .fil-ariane-docutheque {
	margin: 1em 0;
	list-style: none;
	padding-left: 0;
}

.editor-styles-wrapper .docutheque .racine-docutheque,
.docutheque .racine-docutheque {
	font-size: 140%;
}

.editor-styles-wrapper .docutheque .racine-docutheque-icon,
.docutheque .racine-docutheque-icon {
	text-decoration: none !important;
	border: none !important;
	display: inline-block;
	padding: 0 10px;
}

.editor-styles-wrapper .docutheque svg.docutheque-icon,
.docutheque svg.docutheque-icon {
	width: 48px;
	height: 48px;
	vertical-align: bottom;
}

.editor-styles-wrapper .docutheque ul.docutheque-elements,
.docutheque ul.docutheque-elements {
	list-style: none;
	margin: 1em 0;
	padding: 0;
}

.docutheque ul.docutheque-elements li .docutheque-document,
.docutheque ul.docutheque-elements li .docutheque-dossier {
	display: flex;
	flex-wrap: wrap;
	border-bottom: solid 1px #878787;
	padding: 1em 0;
}

.docutheque ul.docutheque-elements li .docutheque-dossier {
	background-color: #f1f1f1;
}

.docutheque ul.docutheque-elements li:first-child {
	border-top: solid 1px #878787;
}

.docutheque ul.docutheque-elements li .docutheque-document .docutheque-vignette,
.docutheque ul.docutheque-elements li .docutheque-dossier .docutheque-vignette {
	padding-left: 10px;
	width: 60px;
}

.docutheque ul.docutheque-elements li .docutheque-document .docutheque-description,
.docutheque ul.docutheque-elements li .docutheque-dossier .docutheque-description {
	width: calc( 100% - 60px );
	padding: 0 1em;
}

.docutheque .docutheque-feedback {
    background-color: #e5f5fa;
	border: 1px solid #e5f5fa;
	border-left-width: 4px;
	border-left-color: #00a0d2;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	margin: 15px 2px;
	padding: 1px 12px;
}

.docutheque .docutheque-feedback p {
	margin: 0.5em 0;
	padding: 2px;
}
